.workspaceButton1 {
    border-radius: 50px;
}

.workspaceButton1:hover {
    background-color: rgb(108, 112, 134, 0.2);
}

.workspaceIcon1 {
	opacity: 0.5;
}

.workspaceIcon1:hover {
	opacity: 0.75;
}

.workspaceButton2 {
    border-radius: 50px;
}

.workspaceButton2:hover {
    background-color: rgb(108, 112, 134, 0.2);
}

.workspaceIcon2 {
	opacity: 0.5;
}

.workspaceButton3 {
    border-radius: 50px;
}

.workspaceButton3:hover {
    background-color: rgb(108, 112, 134, 0.2);
}

.workspaceIcon3 {
	opacity: 0.5;
}

.workspaceButton4 {
    border-radius: 50px;
}

.workspaceButton4:hover {
    background-color: rgb(108, 112, 134, 0.2);
}

.workspaceIcon4 {
	opacity: 0.5;
}