.systemMenu {
    background-color: rgb(108, 112, 134, 0.35);
    margin: 5px;
	padding: 0px;
    border-radius: 50px;
}

.systemEventboxOpen {
    background-color: rgb(108, 112, 134, 0.35);
    border-radius: 50px;
    transition: all 400ms;
}

.systemEventboxOpen:hover {
    background-color: rgb(108, 112, 134, 0.35);
    transition: all 400ms;
}

.systemEventboxClosed {
    border-radius: 150px;
    transition: all 400ms;
}

.systemEventboxClosed:hover {
    background-color: rgb(108, 112, 134, 0.35);
    transition: all 400ms;
}

.gear {
    padding: 5px 5px 5px 5px;
}

.volume {
    border-radius: 50px;
}

.volumeButtonsEventboxOpen {
    background-color: rgb(108, 112, 134, 0.35);
    border-radius: 50px;
    transition: all 400ms;
}

.volumeButtonsEventboxOpen:hover {
    background-color: rgb(108, 112, 134, 0.35);
    transition: all 400ms;
}

.volumeButtonsEventboxClosed {
	border-radius: 50px;
    transition: all 400ms;
}

.volumeButtonsEventboxClosed:hover {
    background-color: rgb(108, 112, 134, 0.35);
    transition: all 400ms;
}

.volumeButton {
	margin: 5px 5px 5px 5px;
}

.volumeUp {
	margin: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.volumeUp:hover {
	background-color: rgb(108, 112, 134, 0.2);
}

.volumeDisplay {
    color: #8B7DAA;
    font-weight: bolder;
    font-size: 9px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.volumeDisplay:hover {
	background-color: rgb(108, 112, 134, 0.2);
}

.volumeDown {
	margin: 5px 5px 5px 5px;
	border-radius: 5px 5px 50px 50px;
}

.volumeDown:hover {
	background-color: rgb(108, 112, 134, 0.2);
}

.volumeMute {
	margin: 5px 5px 5px 5px;
	border-radius: 50px 50px 5px 5px;
}

.volumeMute:hover {
	background-color: rgb(108, 112, 134, 0.2);
}

.volumeUpButton {
	margin: 5px 5px 5px 5px;
}

.volumeDownButton {
	margin: 5px 5px 5px 5px;
}

.volumeMuteButton {
	margin: 5px 5px 5px 5px;
}

.bluetooth {
    border-radius: 50px;
}

.bluetooth:hover {
	background-color: rgb(108, 112, 134, 0.2);
}

.bluetoothButton {
	margin: 8px 5px 8px 5px;
}
