.systemstats {
	padding: 0px 0px 7px 0px;
}

.rootPie {
	color: rgb(139, 125, 170, 0.95);
	background-color: rgb(106, 74, 180, 0.8);
}

.rootPic {
	opacity: 0.75;
}

.netPie {
	color: rgb(139, 125, 170, 0.95);
	background-color: rgb(106, 74, 180, 0.8);
}

.netPic {
	opacity: 0.75;
}


.ramPie {
	color: rgb(139, 125, 170, 0.95);
	background-color: rgb(106, 74, 180, 0.8);
}

.ramPic {
	opacity: 0.75;
}

.cpuPie {
	color: rgb(139, 125, 170, 0.95);
	background-color: rgb(106, 74, 180, 0.8);
}

.cpuPic {
	opacity: 0.75;
}

.clockSec {
	color: rgb(213, 230, 255, 0.7);
	background-color: rgb(61, 137, 252, 0.5);
	margin: 10px;
}

.clockMin {
	color: rgb(213, 230, 255, 0.7);
	background-color: rgb(61, 137, 252, 0.5);
	margin: 5px;
}

.clockHour {
	color: rgb(213, 230, 255, 0.7);
	background-color: rgb(61, 137, 252, 0.5);
}
